$dark-grey: rgb(170, 170, 170);
$medium-grey: rgb(235, 233, 235);
$light-grey: rgb(248, 248, 248);
$active:  #c78bd2;
$header-height: 0px;
$row-border-width: 0px;
$border-color: white;
$hover-color: rgb(240, 240, 240);
$editor-background-color: inherit;
